.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  .card {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
    max-width: 21.1875rem;
    flex: 1 0 45%;
    display: flex;
  }

  img {
    border-right: 0.25rem solid rgb(0, 150, 243);
    border-radius: 0.25rem 0.25rem 0 0;
    height: 64px;
    width: 64px;
    padding: 0.5rem;
  }

  .card-content {
    padding: 1rem;
  }

  .header,
  .subheader {
    margin: 0;
  }

  input {
    border: 2px solid rgb(128, 128, 128);
    font-size: 1rem;
    width: 80%;
    height: 1rem;
    border-radius: 25px;
    margin-bottom: 3rem;
    padding: 0.5rem .8rem;
    padding: 1rem;
  }

  .button {
      background-color: rgb(239, 155, 66);
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      cursor: pointer;
      padding: 0.5rem .8rem;
    }
    
    .button:hover {
      border-color: rgba(0, 0, 0, 0.15);
      box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
      color: rgba(0, 0, 0, 0.65);
    }
    
    .button:active {
      background-color: rgb(236, 178, 116);
      box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    }

    .dropdown {
      cursor: pointer;
      padding: 0.3rem;
      border: 2px solid rgb(239, 155, 66);
    }